{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <thead>
            <tr>
                <th>Article name</th>
                <th>Date</th>
                <th>IP</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ article.name }}</td>
                <td>{{ article.date|date }}</td>
                <td>{{ article.ip }}</td>
                <td>{{ article.action }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
